<h1>Listing vote_items</h1>

<table>
  <tr>
    <th>Food</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vote_items.each do |vote_item| %>
  <tr>
    <td><%= vote_item.food.title %></td>
    <td><%= vote_item.user.email %></td>
    <td><%= link_to 'Show', vote_item %></td>
    <td><%= link_to 'Edit', edit_vote_item_path(vote_item) %></td>
    <td><%= link_to 'Destroy', vote_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Vote item', new_vote_item_path %>
