<p id="notice"><%= notice %></p>

<p>
  <b>counter:</b>
  <%= @vote_item.counter %>
</p>

<p>
  <b>Food:</b>
  <%= @vote_item.food.title %>
</p>

<p>
  <b>User:</b>
  <%= @vote_item.user.email %>
</p>


<%= link_to 'Edit', edit_vote_item_path(@vote_item) %> |
<%= link_to 'Back', vote_items_path %>
