

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put ,:class => 'form-signin'}) do |f| %>
  <h2>Change password</h2>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div>
  <%= f.password_field :password, :autofocus => true, :class => "form-control", :placeholder => 'New password' %></div>

  <div>
  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => 'Confirm new password'%></div>

  <br />
  <div><%= f.submit "Change my password" , :class => "btn btn-lg btn-primary btn-block" %></div>
<% end %>


