<h1>Listing vendor_roles</h1>

<table>
  <tr>
    <th>Vendor</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendor_roles.each do |vendor_role| %>
  <tr>
    <td><%= vendor_role.vendor_id %></td>
    <td><%= vendor_role.role %></td>
    <td><%= link_to 'Show', vendor_role %></td>
    <td><%= link_to 'Edit', edit_vendor_role_path(vendor_role) %></td>
    <td><%= link_to 'Destroy', vendor_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor role', new_vendor_role_path %>
