<div class="container">
<div class="table-responsive">
  <!-- <h1>Users</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>roles</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render(@user_roles) %>
    </tbody>
    
  </table>
    -->
    
    <%= render(@vendors) %>
    <!-- <% @vendors.each do |vendor| %>
      <h2><%= vendor.title %></h2>
      <% if vendor.vendor_role.role == 1%>
        <%= link_to '移出黑名单', set_path(:vendor_role => vendor.vendor_role.id, :role => 0) %> &nbsp
      <% else %>
        <%= link_to '加入黑名单', set_path(:vendor_role => vendor.vendor_role.id, :role => 1) %> &nbsp
      <% end %>
      
      <%= link_to '删除', vendor.vendor_role, method: :delete, data: { confirm: 'Are you sure?' } %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>name</th>
            <th>roles</th>
            <th>operation</th>
          </tr>
        </thead>
        <tbody>
          <%= render(FoodVendor.select_food_by_vendor(vendor.id).collect(&:food_role)) %>
        </tbody>
      </table>
    <% end %> -->
    
    
    
  <!-- <hr>
  <h1>Vendors</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>roles</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render(@vendor_roles) %>
    </tbody>
  </table>
 
  <hr>
  <h1>Foods</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>roles</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render(@food_roles) %>
    </tbody>
  </table>
    -->
   
</div>
<hr>
<footer>
<p>© Company 2013</p>
</footer>
</div>
