<%= form_for(@food) do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "菜名" %><br />
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <div class="field">
    <p>
      <%= f.file_field :image_url %>
    </p>
    <div>
      <%= f.label :remote_image_url_url, "或者填入图片url地址" %>
      <%= f.text_field :remote_image_url_url, :class => "form-control"%>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, "描述" %><br />
    <%= f.text_area :description, :rows => "10", :class => "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :price, "价格" %><br />
    <%= f.text_field :price, :class => "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :category, "种类" %><br />
    <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.title, c.id] }), 
      { :class => 'form-control' } %>
    <%#= f.select :food_category, Category.all.map{ |c| [c.title, c.id] } %>
  </div>
  
  <div class="field">
    <%= f.label :vendor, "商家" %><br />
    <% if @food.food_vendor %>
    <% vendor = [@food.food_vendor.vendor] %>
      <%= select_tag :vendor, options_for_select((Vendor.all - vendor).map{ |v| [v.title, v.id] }),
         { :class => 'form-control', :prompt => "#{@food.food_vendor.vendor.title}",} %>
    <% else %>
      <%= select_tag :vendor, options_for_select(Vendor.all.map{ |v| [v.title, v.id] }),
         { :class => 'form-control'} %>
    <%end%>
  </div>
  
  <div class="actions">
    <%= f.submit "提交", :class => "btn btn-md btn-primary" %>
    <%= link_to '返回', foods_path, :class => "btn btn-md btn-primary" %>
  </div>
<% end %>
