<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-sm-12">
      <!-- <div class="jumbotron">
        <h2>FOODS</h2>
        <p>good good good good good good good good </p>
      </div> -->
      
      
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title", style="text-align:center">增加</h4>
              </div>
              <div class="modal-body">
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;食物"), 
              new_food_path, :class => 'btn btn-default btn-sm' %>
              <br>
              <br>
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;商家"),
               new_vendor_path, :class => 'btn btn-default btn-sm' %>
               <br>
               <br>
              <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span>&nbsp;&nbsp;种类"),
               new_category_path, :class => 'btn btn-default btn-sm' %>
             </div>
            </div>
          </div>
          
        </div>
            
       <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
         <span class="glyphicon glyphicon-plus"></span>
         增加
       </button>
       <%= link_to raw("<span class=\"glyphicon glyphicon-eye-close\"></span>&nbsp;&nbsp;黑名单管理"), 
       set_path, :class => 'btn btn-default btn-sm' %>
       
       
      <br />
      <div class="row">
        <% @foods.each do |food| %>
        <div class="col-6 col-sm-6 col-lg-4">
        	<h3><%= food.title %></h3>
          <p class="img">
            <%= image_tag food.image_url_url(:thumb).to_s %>
          </p>
        	<p class="dsp"><%= sanitize(food.description) %></p>
        	<p class="price_line">
        		<span class="price"><%= sprintf("￥%0.02f", food.price) %></span>
        	</p>
          
          <p>
            <%= link_to raw("<span class=\"glyphicon glyphicon-edit\"></span>&nbsp;&nbsp;编辑"), edit_food_path(food), :class => 'btn btn-info btn-sm'  %>
            <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>&nbsp;&nbsp;删除"), food, method: :delete, data: { confirm: 'Are you sure?' },
              :class => 'btn btn-danger btn-sm' %>
          </p>
        </div>
        <% end %>
      </div>
      <p><%= will_paginate @foods %></p>
    </div>
  </div>
  <hr>
  <footer>
  <p>© Company 2014</p>
  </footer>
  
</div>
 





